.header{
  width:100%;
  transition: all .5s;
  padding: 20px 50px;
  background: none;
  color:#fff;
  z-index: 999;
  position: fixed;
  @include tab{
    padding: 20px 30px;
  }
  &.active{
    background: rgba(64,64,64,0.7);
    padding: 10px 50px;
    @include tab{
      padding: 10px 30px;
    }
    @include sp{
      padding: 10px 20px;
    }
  }

  &__logo{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    .logo{
      margin-right: 20px;
      font-size: 40px;
      letter-spacing: .05em;
      font-family: 'Raleway', sans-serif;

      >a:hover{
        opacity:1;
      }
      @include sp{
        font-size: 30px;
      }
    }
  }

    &__inner{
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      align-items: center;
      justify-content: space-between;
      transition: all 03s;
    }


      @include sp{
        padding: 15px 15px;
      }


    &--fixed{
      position: fixed;
      z-index: 10;
      top:0;
    }

      &__line{
        position: relative;
        left: 0;
        display: block;
        width: 100%;
        height: 2px;
        transition: all .4s;
        border-radius: 4px;
        background-color: #fff;
      }
      &__trigger{
        display: none;
        @include  tab{
          display: block;
        }
        @include  sp{
          display: block;
        }
      }

      .menu-trigger{
        display: inline-block;
        transition: all .4s;
        box-sizing: border-box;
        position: relative;
        width: 45px;
        height: 40px;
        background: none;
        border: none;
        appearance: none;
        cursor: pointer;
        z-index: 100;
      }
      .menu-trigger span {
        display: inline-block;
        transition: all .4s;
        box-sizing: border-box;
        position: absolute;
        left: 0;
        width: 100%;
        height: 3px;
        background-color: #fff;
        border-radius: 4px;
      }
      .menu-trigger span:nth-of-type(1) {
        top: 0;
      }
      .menu-trigger span:nth-of-type(2) {
        top: 20px;
      }
      .menu-trigger span:nth-of-type(3) {
        bottom: 0;
      }

}
