.breadcrumb{
  padding: 10px 0;
  color:$base-color;

  &__list{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
  }

  &__item{
    margin: 0 50px 0 0;
    position: relative;
    font-size: 14px;
    letter-spacing: .05em;
    @include sp{
      margin: 0 30px 0 0;
    }
    &:nth-last-child(1){
      margin: 0;
    }

    &:not(:nth-last-child(1))::after{
      display: block;
      position: absolute;
      content: "＞";
      top:0;
      right:-35px;
      @include sp{
        right: -23px;
      }
    }

    >a{
      text-decoration: underline;
    }
  }
}
