.card-wrapper{

  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: top;
  align-content: flex-start;
  flex-wrap: wrap;

  &--col2{
    .card{
      margin: 0 80px 0 0;
      width: calc((100% - 80px) / 2);
      @include tab{
        width: 47%;
        margin: 0;
      }

    &:nth-child(2n){
      margin: 0;
      @include tab{
        margin: 0 0 0 6%;
      }
    }
    }
  }
  &--col3{
    .card{
      margin: 0 30px 0 0;
      width: calc((100% - 60px) / 3);

    &:nth-child(3n){
      margin: 0;
    }
    }
  }
}
