.career{
  padding: 0 50px;
  @include tab{
    padding: 0 15px;
  }
  @include sp{
    padding: 0 5px;
  }
  span{
    font-size: 16px;
    font-weight: bold;
    margin: 0 120px 0 0;
    @include sp{
      margin: 0 70px 0 0;
    }
  }
  &__item{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    margin: 0 0 50px;
    &:nth-child(3) .career__text::before{
      height: 76px;
    }
  }
  &__text{
    font-size: 18px;
    position: relative;
    @include sp{
      font-size: 16px;
    }
    &::before{
      position: absolute;
      display: block;
      content: "";
      width: 1px;
      height: 52px;
      background: #f73859;
      top: 20px;
      left: -49px;
      @include tab{
        top: 19px;
        left: -50px;
        height: 52px;
      }
      @include sp{
        left: -35px;
        top: 15px;
        height: 54px;
      }
    }
    &::after{
      position: absolute;
      display: block;
      content: "";
      border: 1px solid #f73859;
      border-radius: 30px;
      width: 20px;
      height: 20px;
      top: 0;
      left: -59px;
      @include sp{
        width: 15px;
        height: 15px;
        left: -42px;
      }
    }

    &.active{
    &::before{
      height: 30px;
    }
    &::after{
      background: #f73859;
    }
    }
  }
}
