.hero{
  height: 100vh;
  background: url(../image/mv07.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  color:#fff;
  @include sp{
    height: 80vh;
  }

  &__inner{
    position: absolute;
    top:60%;
    left:5%;
    width: 60%;
    text-align: center;
    background: rgba(64,64,64,0.5);
    overflow: hidden;
    opacity:0;
    padding: 20px;
    text-align: left;
    @include tab{
      width: 80%;
    }
    @include sp{
      width: 90%;
      top: 65%;
      padding: 10px 5px;
    }
    &.active{
      -webkit-animation: fadeInLeft .5s ease-out ;
      animation: fadeInLeft .5s ease-out ;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
    }
  }
  &__title{
    font-size: 80px;
    opacity: 0;
    @include tab{
      font-size: 54px;
    }
    @include sp{
      font-size: 32px;
      margin: 0 0 10px;
    }
    &.active{
      -webkit-animation: fadeInLeft .5s ease-out .8s;
      animation: fadeInLeft .5s ease-out .8s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
    }
  }
  &__text{
    font-size: 60px;
    opacity: 0;
    @include tab{
      font-size: 40px;
    }
    @include sp{
      font-size: 24px;
    }
    &.active{
      -webkit-animation: fadeInLeft .5s ease-out 1.3s;
      animation: fadeInLeft .5s ease-out 1.3s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
    }
  }

}
