.header-nav{

  font-family: 'Raleway', sans-serif;
  position: relative;
  @include sp{
    position: fixed;
    top:0;
    left:0;
    z-index: 10;
    background: #404040;
    height:100%;
    width: 100%;
    opacity:0;
    transform: translateX(-500px);
    transition: all .5s ease;
    visibility: hidden;
    &.active{
      opacity: 1;
      transform: translateX(0);
      visibility:visible;
    }
  }

  &__inner{
    @include sp{
      width: 100%;
      height: 100%;
      padding: 100px 0 0;
    }
  }

  &__list{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;

    @include sp{
      flex-wrap: wrap;
    }
  }

  &__item{
    font-weight: bold;
    font-size: 20px;
    padding: 10px 5px;
    transition: .5s;
    position: relative;
    &:not(:nth-last-child(1)){
      margin: 0 10px 0 0;
      @include tab{
        margin-right: 0;
      }
      @include sp{
        margin-right: 0;
      }
    }
    &:hover{
      a{
        color:$base-color;
      }
      &::after{
        width:100%;
      }
      @include sp{
        transform: none;
      }
    }
    &.current{
      border-bottom: 2px solid $base-color;
      animation-delay:3s;
      opacity: 1;
      a{
        color:$base-color;
        @include sp{
          color:#fff;
        }
      }
      &:hover{
        &::after{
          width: 0;
        }
      }
      @include sp{
        border-bottom: 1px solid #fff;
        transform: none;
      }
    }

    @include sp{
      display: block;
      width: 90%;
      text-align: left;
      font-size: 20px;
      margin: 0 auto 30px;
      border-bottom: 1px solid #fff;
      font-weight: lighter;
      height: 60px;
      padding: 0;
    }

    &::after{
      position: absolute;
      display: block;
      content:"";
      width:0;
      height:2px;
      background: $base-color;
      bottom:0;
      left:0;
      transition: width .3s;
      @include sp{
        display: none;
      }
    }
    i{
      position: absolute;
      top: 22px;
      right: 30px;
    }
  }

  &__link{
    color:#fff;
    @include tab{
      padding: 5px 10px;
    }
    @include sp{
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      padding: 18px 20px;
    }
    letter-spacing: .1em;
    padding: 20px;
  }
}
