.sub-hero{
  height: 350px;
  background: url(../image/mv07.jpg);
  background-position: center;
  background-size: cover;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  &__title{
    background: rgba(64, 64, 64, 0.6);
    padding: 10px 20px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 60px;
    letter-spacing: .05em;
    font-weight: 900;
    color:#fff;
    @include sp{
      font-size: 40px;
    }
  }
}
