.sub-hero{
  height: 350px;
  background: url(../image/mv01.jpg);
  background-position: center;
  background-size: cover;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  align-items: center;

  &__title{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 60px;
    letter-spacing: .05em;
    font-weight: 900;
    color:$base-color;
  }
}
