@charset "UTF-8";
/* waypoint */
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.js-fadein-first.active {
  -webkit-animation: fadeIn .6s ease-out .3s;
  animation: fadeIn .6s ease-out .3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.js-fadein-first {
  opacity: 0;
}

.js-fadein-second.active {
  -webkit-animation: fadeIn .6s ease-out .7s;
  animation: fadeIn .6s ease-out .7s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.js-fadein-second {
  opacity: 0;
}

.js-fadein-third.active {
  -webkit-animation: fadeIn .6s ease-out .3s;
  animation: fadeIn .6s ease-out .3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.js-fadein-third {
  opacity: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.dn_pc {
  display: none;
}

img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

ul, ol, li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  opacity: 0.7;
}

.footer {
  background: #120e19;
  color: #fff;
  font-family: 'Raleway', sans-serif;
}

.footer-inner {
  max-width: 1140px;
  margin: 0 auto;
  padding: 50px 0 30px;
}

.footer-nav__list {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.footer-nav__item {
  margin: 0 60px 0 0;
  font-size: 14px;
  letter-spacing: .08em;
  position: relative;
}

.footer-nav__item::after {
  position: absolute;
  display: block;
  content: "";
  width: 1px;
  height: 15px;
  background: #fff;
  top: 0;
  right: -30px;
}

.footer-nav__item:nth-last-child(1) {
  margin: 0;
}

.footer-nav__item:nth-last-child(1)::after {
  display: none;
}

.footer-sns {
  margin: 30px 0 0;
}

.footer-sns__list {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.footer-sns__item {
  font-size: 24px;
  margin: 0 30px 0 0;
}

.footer-sns__item:nth-last-child(1) {
  margin: 0;
}

.footer .copyright {
  font-size: 14px;
  text-align: center;
  margin: 30px 0 0;
  border-bottom: 1px solid #fff;
  padding: 0 0 10px;
  letter-spacing: .05em;
  font-weight: 100;
}

.header {
  width: 100%;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  padding: 30px;
  background: transparent;
  color: #fff;
  z-index: 999;
  position: fixed;
}

@media screen and (max-width: 599px) {
  .header {
    padding: 15px 15px;
  }
}

@media screen and (max-width: 1024px) {
  .header {
    padding: 15px 15px;
  }
}

.header.active {
  padding: 20px 30px;
  background: #071a52;
}

.header__logo {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__logo .logo {
  margin-right: 20px;
  font-size: 40px;
  letter-spacing: .05em;
  font-family: 'Raleway', sans-serif;
}

.header__logo .logo > a:hover {
  opacity: 1;
}

.header__inner {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-transition: all 03s;
  -o-transition: all 03s;
  transition: all 03s;
}

@media screen and (max-width: 599px) {
  .header {
    padding: 15px 15px;
  }
}

@media screen and (max-width: 1024px) {
  .header {
    padding: 15px 15px;
  }
}

.header--fixed {
  position: fixed;
  z-index: 10;
  top: 0;
}

.header__logo .logo {
  line-height: 1;
}

@media screen and (max-width: 599px) {
  .header__logo .logo {
    width: 120px;
  }
}

@media screen and (max-width: 1024px) {
  .header__logo .logo {
    width: 120px;
  }
}

.header__line {
  position: relative;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
  border-radius: 4px;
  background-color: #fff;
}

.l-section {
  padding: 150px 0 0;
}

.l-inner {
  max-width: 1140px;
  margin: 0 auto;
}

.l-inner--xs {
  max-width: 780px;
}

.l-inner--sm {
  max-width: 950px;
}

.l-inner--xl {
  max-width: 1300px;
}

.breadcrumb {
  background: #f0f0f0;
  padding: 10px 0;
}

.breadcrumb__list {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.breadcrumb__item {
  margin: 0 50px 0 0;
  position: relative;
  font-size: 14px;
  letter-spacing: .05em;
}

.breadcrumb__item:not(:nth-last-child(1))::after {
  display: block;
  position: absolute;
  content: "＞";
  top: 0;
  right: -35px;
}

.breadcrumb__item > a {
  text-decoration: underline;
}

.button {
  display: inline-block;
  position: relative;
  width: 260px;
  padding: 22px 0;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  text-align: center;
  text-decoration: none;
  border-radius: 44px;
  font-weight: bold;
  font-size: 22px;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  letter-spacing: .1em;
}

.button::after {
  position: absolute;
  display: block;
  content: "\025b6";
  color: #fff;
  width: 20px;
  height: 20px;
  top: 50%;
  right: 30px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.button:hover {
  opacity: 0.8;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  color: #071a52;
  background: #fff;
  border: 1px solid #071a52;
  -webkit-transform: translateX(50px);
  -ms-transform: translateX(50px);
  transform: translateX(50px);
}

.button:hover::after {
  width: 40px;
  height: 40px;
  font-size: 40px;
  right: -100px;
  color: #071a52;
}

.button-main {
  background: -webkit-gradient(linear, left top, right top, from(#071a52), color-stop(90%, #005691));
  background: -webkit-linear-gradient(left, #071a52, #005691 90%);
  background: -o-linear-gradient(left, #071a52, #005691 90%);
  background: linear-gradient(to right, #071a52, #005691 90%);
}

.card-wrapper {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: top;
  -ms-flex-align: top;
  align-items: top;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.card-wrapper--col2 .card {
  margin: 0 80px 0 0;
  width: calc((100% - 80px) / 2);
}

.card-wrapper--col2 .card:nth-child(2n) {
  margin: 0;
}

.card-wrapper--col3 .card {
  margin: 0 30px 0 0;
  width: calc((100% - 60px) / 3);
}

.card-wrapper--col3 .card:nth-child(3n) {
  margin: 0;
}

.contact-form {
  border: 3px solid #071a52;
  border-radius: 10px;
  padding: 50px 30px;
}

.contact-form .flex {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.contact-form__button {
  width: 150px;
  height: 40px;
  font-size: 14px;
  padding: 0;
}

.contact-form__button:hover {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.contact-form__submit {
  margin: 50px 0 0;
  text-align: center;
}

.contact-form__back {
  margin: 50px 50px 0 0;
  text-align: center;
}

.contact-form table {
  width: 100%;
  font-size: 15px;
}

.contact-form tr {
  display: block;
  width: 100%;
  border-bottom: 1px solid #dbe2ef;
}

.contact-form span {
  border-radius: 3px;
  font-size: 12px;
  background: #f08a5d;
  color: #fff;
  padding: 3px 5px;
  font-weight: bold;
  letter-spacing: .1em;
  float: right;
}

.contact-form__left {
  padding: 30px;
  width: 240px;
}

.contact-form__right {
  padding: 40px;
  position: relative;
}

.contact-form__note {
  font-size: 14px;
  font-weight: bold;
  color: #d72323;
  position: absolute;
  top: 15px;
}

.contact-form .table__title {
  text-align: center;
  font-size: 26px;
  color: #071a52;
  margin: 0 0 40px;
  font-weight: bold;
}

.contact-form input[type="text"] {
  width: 300px;
  height: 30px;
  font-size: 14px;
  border: 1px solid #071a52;
  border-radius: 5px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  padding: 5px;
}

.contact-form input[type="text"]:focus {
  border: 3px solid #071a52;
}

.contact-form input[type="radio"] {
  width: 15px;
  height: 15px;
  border: 1px solid #071a52;
  border-radius: 10px;
  display: inline-block;
  margin-right: 15px;
}

.contact-form input[type="radio"]:checked {
  background: #071a52;
}

.contact-form textarea {
  border: 1px solid #071a52;
  border-radius: 5px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  width: 350px;
  height: 200px;
  padding: 10px;
  font-size: 14px;
}

.contact-form textarea:focus {
  border: 3px solid #071a52;
}

.contact-form label {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.contact-form .error__list {
  padding: 20px;
}

.contact-form .error__item {
  font-size: 14px;
  font-weight: bold;
  color: #d72323;
}

.heading {
  text-align: center;
  color: #071a52;
  position: relative;
  margin: 0 0 70px;
}

.heading__title {
  font-size: 30px;
  letter-spacing: .1em;
  font-weight: 200;
  font-family: 'Raleway', sans-serif;
}

.heading__subtitle {
  font-size: 14px;
  letter-spacing: .05em;
}

.heading::before {
  position: absolute;
  content: "";
  display: block;
  left: 35%;
  top: 0;
  border-left: 1px solid #071a52;
  border-top: 1px solid #071a52;
  width: 20px;
  height: 20px;
}

.heading::after {
  position: absolute;
  content: "";
  display: block;
  right: 35%;
  bottom: 0;
  border-right: 1px solid #071a52;
  border-bottom: 1px solid #071a52;
  width: 20px;
  height: 20px;
}

.hero {
  height: 100vh;
  background: url(../image/mv02.jpg);
  background-position: center;
  background-size: cover;
  margin: 0 0 100px;
  position: relative;
}

.hero .scrolldown4 {
  position: absolute;
  bottom: 80px;
  right: 100px;
  -webkit-animation: arrowmove 1s ease-in-out infinite;
  animation: arrowmove 1s ease-in-out infinite;
}

@-webkit-keyframes arrowmove {
  0% {
    bottom: 1%;
  }
  50% {
    bottom: 3%;
  }
  100% {
    bottom: 1%;
  }
}

@keyframes arrowmove {
  0% {
    bottom: 1%;
  }
  50% {
    bottom: 3%;
  }
  100% {
    bottom: 1%;
  }
}

.hero .scrolldown4 span {
  position: absolute;
  left: -23px;
  bottom: 30px;
  color: #fff;
  font-size: 0.8rem;
  letter-spacing: 0.05em;
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
}

.hero .scrolldown4:before {
  content: "";
  position: absolute;
  bottom: 30px;
  right: -10px;
  width: 1px;
  height: 30px;
  background: #fff;
  -webkit-transform: skewX(-31deg);
  -ms-transform: skewX(-31deg);
  transform: skewX(-31deg);
}

.hero .scrolldown4:after {
  content: "";
  position: absolute;
  bottom: 30px;
  right: 0;
  width: 1px;
  height: 100px;
  background: #fff;
}

.media {
  padding: 0 50px;
}

.media__inner {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.media__image {
  width: 50%;
  margin: 0 5% 0 0;
}

.media__body {
  padding: 30px;
}

.header-nav {
  font-family: 'Raleway', sans-serif;
}

@media screen and (max-width: 599px) {
  .header-nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-image: -webkit-linear-gradient(315deg, #7633a4, #250d65);
    background-image: -o-linear-gradient(315deg, #7633a4, #250d65);
    background-image: linear-gradient(135deg, #7633a4, #250d65);
    height: 100%;
    width: 100%;
    opacity: 0;
    -webkit-transition: opacity .5s ease;
    -o-transition: opacity .5s ease;
    transition: opacity .5s ease;
    visibility: hidden;
  }
}

@media screen and (max-width: 1024px) {
  .header-nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-image: -webkit-linear-gradient(315deg, #7633a4, #250d65);
    background-image: -o-linear-gradient(315deg, #7633a4, #250d65);
    background-image: linear-gradient(135deg, #7633a4, #250d65);
    height: 100%;
    width: 100%;
    opacity: 0;
    -webkit-transition: opacity .5s ease;
    -o-transition: opacity .5s ease;
    transition: opacity .5s ease;
    visibility: hidden;
  }
}

@media screen and (max-width: 599px) {
  .header-nav__inner {
    width: 100%;
    height: 100%;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@media screen and (max-width: 1024px) {
  .header-nav__inner {
    width: 100%;
    height: 100%;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.header-nav__list {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  list-style: none;
}

@media screen and (max-width: 599px) {
  .header-nav__list {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 1024px) {
  .header-nav__list {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

.header-nav__item {
  font-weight: bold;
  font-size: 20px;
  padding: 10px 5px;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  position: relative;
}

.header-nav__item:not(:nth-last-child(1)) {
  margin: 0 35px 0 0;
}

.header-nav__item.current {
  border-bottom: 2px solid #fff;
  -webkit-animation: poyopoyo 3s ease-out infinite;
  animation: poyopoyo 3s ease-out infinite;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
  opacity: 1;
}

@-webkit-keyframes poyopoyo {
  0%, 40%, 60%, 80%, 100% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
  50%, 70% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes poyopoyo {
  0%, 40%, 60%, 80%, 100% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
  50%, 70% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@media screen and (max-width: 599px) {
  .header-nav__item {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 16px;
    margin: 0 0 20px;
  }
}

@media screen and (max-width: 1024px) {
  .header-nav__item {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 16px;
    margin: 0 0 20px;
  }
}

.header-nav__item::after {
  position: absolute;
  display: block;
  content: "";
  width: 0;
  height: 3px;
  background: #fff;
  bottom: -5px;
  left: 0;
  -webkit-transition: width .3s;
  -o-transition: width .3s;
  transition: width .3s;
}

.header-nav__item:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.header-nav__item:hover::after {
  width: 100%;
}

.header-nav__link {
  color: #fff;
  padding: 10px 5px;
  letter-spacing: .1em;
}

.header-nav__trigger {
  display: none;
}

@media screen and (max-width: 599px) {
  .header-nav__trigger {
    display: block;
    padding: 5px;
  }
}

@media screen and (max-width: 1024px) {
  .header-nav__trigger {
    display: block;
    padding: 5px;
  }
}

.page-top {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  bottom: 60px;
  right: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.page-top:hover {
  cursor: pointer;
}

.page-top > a {
  display: block;
  width: 60px;
  height: 60px;
  padding: 13px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  border-radius: 50%;
  background-color: #071a52;
  font-size: 30px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.page-top > a:hover {
  color: #071a52;
  background: #fff;
  border: 1px solid #071a52;
}

.pagination {
  text-align: center;
}

.pagination .page-numbers {
  display: inline-block;
  position: relative;
  width: 50px;
  padding: 12px 0;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
  border-radius: 25px;
  font-weight: bold;
  font-size: 24px;
  color: #fff;
  line-height: 1;
  font-family: 'Raleway', sans-serif;
  background: #fff;
  color: #071a52;
  border: 1px solid #071a52;
}

.pagination .page-numbers:not(:nth-last-child(1)) {
  margin: 0 30px 0 0;
}

.pagination .page-numbers.current {
  background: -webkit-gradient(linear, left top, right top, from(#071a52), color-stop(90%, #005691));
  background: -webkit-linear-gradient(left, #071a52, #005691 90%);
  background: -o-linear-gradient(left, #071a52, #005691 90%);
  background: linear-gradient(to right, #071a52, #005691 90%);
  color: #fff;
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}

.pagination .prev, .pagination .next {
  display: none;
}

.post {
  padding-bottom: 200px;
}

.post__heading {
  margin: 0 0 80px;
}

.post-categories {
  padding: 0 50px 0 0;
  color: #aaaaaa;
  font-size: 13px;
  letter-spacing: .1em;
  margin: 20px 0 0;
}

.post__image {
  width: 90%;
  margin: 0 auto 150px;
}

.post__title {
  font-size: 30px;
  width: 100%;
}

.post__link {
  border-top: 1px solid #071a52;
  border-bottom: 1px solid #071a52;
  text-align: center;
  margin: 150px 0 0;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.post__link span {
  font-size: 16px;
  position: relative;
  width: 50%;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  padding: 30px 20px;
}

.post__link span a {
  padding: 30px 20px;
}

.post__link span:nth-child(1)::after {
  content: "";
  display: block;
  position: absolute;
  width: 0.5px;
  height: 50px;
  background: #071a52;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0;
}

.post__link--top {
  float: right;
  margin: 10px 30px 0 0;
  padding: 20px;
  color: #aaaaaa;
  font-size: 14px;
}

.skill__name {
  margin: 0 0 40px;
  font-size: 22px;
  text-align: center;
}

.skill__list {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 120px;
}

.skill__item {
  width: calc((100% - 200px) / 3);
  height: 70px;
  border-radius: 40px;
  position: relative;
  font-family: 'Raleway', sans-serif;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.skill__item:not(:nth-child(3n)) {
  margin-right: 100px;
}

.skill__item span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #7c7575;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  width: 100%;
}

.skill__item::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 1000;
  opacity: 0;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.skill__item::after {
  content: "";
  width: 0;
  height: 100%;
  border-radius: 40px;
  display: block;
  position: absolute;
  -webkit-transition: width .5s;
  -o-transition: width .5s;
  transition: width .5s;
}

.skill__item:hover {
  cursor: pointer;
  -webkit-transform: scale(1.4);
  -ms-transform: scale(1.4);
  transform: scale(1.4);
}

.skill__item:hover::before {
  opacity: 1;
  font-size: 24px;
}

.skill__item:hover span {
  opacity: 0;
}

.skill__item--html {
  background: #fff5a5;
}

.skill__item--html::before {
  content: "80%";
}

.skill__item--html:hover::after {
  background: #E65B25;
  width: 80%;
}

.skill__item--css {
  background: #c6fce5;
}

.skill__item--css::before {
  content: "80%";
}

.skill__item--css:hover::after {
  background: #264ADC;
  width: 80%;
}

.skill__item--js {
  background: #edf798;
}

.skill__item--js::before {
  content: "80%";
}

.skill__item--js:hover::after {
  background: #EFD81D;
  width: 80%;
}

.skill__item--php {
  background: #d6c8ff;
}

.skill__item--php::before {
  content: "80%";
}

.skill__item--php:hover::after {
  background: #858EBB;
  width: 80%;
}

.skill__item--sql {
  background: #6ba8a9;
}

.skill__item--sql::before {
  content: "80%";
}

.skill__item--sql:hover::after {
  background: #1d4d4f;
  width: 80%;
}

.skill__item--wp {
  background: #61c0bf;
}

.skill__item--wp::before {
  content: "80%";
}

.skill__item--wp:hover::after {
  background: #207195;
  width: 80%;
}

.skill__item--mt {
  background: #78ADD1;
}

.skill__item--mt::before {
  content: "80%";
}

.skill__item--mt:hover::after {
  background: #2A4B81;
  width: 80%;
}

.skill__item--sass {
  background: #F7CBE2;
}

.skill__item--sass::before {
  content: "80%";
}

.skill__item--sass:hover::after {
  background: #C05D8D;
  width: 80%;
}

.skill__item--pug {
  background: #CFA37F;
}

.skill__item--pug::before {
  content: "80%";
}

.skill__item--pug:hover::after {
  background: #412527;
  width: 80%;
}

.skill__item--ts {
  background: #cadefc;
}

.skill__item--ts::before {
  content: "80%";
}

.skill__item--ts:hover::after {
  background: #2F74C0;
  width: 80%;
}

.skill__item--slack {
  background: #cabbe9;
}

.skill__item--slack::before {
  content: "80%";
}

.skill__item--slack:hover::after {
  background: #4F0B4B;
  width: 80%;
}

.skill__item--cw {
  background: #ffc4d0;
}

.skill__item--cw::before {
  content: "80%";
}

.skill__item--cw:hover::after {
  background: #E83546;
  width: 80%;
}

.skill__item--ps {
  background: #2FA3F7;
}

.skill__item--ps::before {
  content: "80%";
}

.skill__item--ps:hover::after {
  background: #001D34;
  width: 80%;
}

.skill__item--il {
  background: #310000;
}

.skill__item--il::before {
  content: "80%";
}

.skill__item--il:hover::after {
  background: #F79500;
  width: 80%;
}

.skill__item--xd {
  background-color: #450135;
}

.skill__item--xd::before {
  content: "80%";
}

.skill__item--xd:hover::after {
  background: #F75EEE;
  width: 80%;
}

.skill__item--git {
  background-color: #ff847c;
}

.skill__item--git::before {
  content: "80%";
}

.skill__item--git:hover::after {
  background: #E84D31;
  width: 80%;
}

.skill__item--st {
  background-color: #dbe2ef;
}

.skill__item--st::before {
  content: "80%";
}

.skill__item--st:hover::after {
  background-color: #003163;
  width: 80%;
}

.skill__item--git {
  background: #ffdfdf;
}

.skill__item--git::before {
  content: "80%";
}

.skill__item--git:hover::after {
  background: #fb929e;
  width: 80%;
}

.sub-hero {
  height: 350px;
  background: url(../image/mv01.jpg);
  background-position: center;
  background-size: cover;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.sub-hero__title {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-size: 60px;
  letter-spacing: .05em;
  font-weight: 900;
  color: #071a52;
}

.is-show {
  visibility: visible;
  opacity: 1;
}

.main-about .concept {
  color: #fff;
  background: url(../image/img01.jpg) no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  margin: 120px 0 50px;
  padding: 70px 0;
}

.main-about .concept .heading {
  color: #fff;
}

.main-about .concept .heading::after {
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
}

.main-about .concept .heading::before {
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
}

.main-about .concept__body {
  margin-bottom: 0;
}

.main-about .concept__text {
  letter-spacing: 0;
  line-height: 3;
  margin: 0;
  text-align: center;
}

.blog-detail {
  padding: 0;
}

.blog-detail .card {
  margin-bottom: 100px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.blog-detail .card:nth-child(2n) {
  margin-bottom: 100px;
}

.blog-detail .card:hover {
  opacity: 0.7;
  cursor: pointer;
}

.blog-detail .card__image {
  margin: 0 0 20px;
  border: 1px solid #dbe2ef;
  width: 530px;
  height: 354px;
}

.blog-detail .card__heading {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 0 15px;
}

.blog-detail .card__title {
  padding: 0 0 0 30px;
  font-size: 16px;
  margin: 0 0 10px;
}

.blog-detail .card__title .fa-clone {
  padding: 0 0 0 5px;
  font-size: 10px;
}

.blog-detail .card .post-categories {
  color: #aaaaaa;
  font-size: 13px;
  letter-spacing: .1em;
  padding: 0 0 0 100px;
  margin: 0;
}

.blog-detail .card__contents {
  font-size: 14px;
  padding: 0 20px;
  text-align: justify;
}

.blog-main h2 {
  padding: 20px 0 20px 30px;
  border-bottom: 2px solid #52616b;
  margin: 150px 0 50px;
  font-size: 26px;
  font-weight: bold;
  letter-spacing: .1em;
  border-left: solid 6px #071a52;
  background: #f4eeff;
}

.blog-main h3 {
  padding: 10px 0 10px 30px;
  margin: 50px 0 30px;
  font-size: 22px;
}

.blog-main h4 {
  padding: 10px 0 10px 30px;
  margin: 30px 0;
  font-size: 20px;
}

.blog-main h5 {
  padding: 10px 0 10px 30px;
  margin: 30px 0;
  font-size: 18px;
}

.blog-main p {
  padding: 0 0 0 30px;
  margin: 0 0 10px;
  font-size: 16px;
}

.blog-main strong {
  font-weight: bold;
  color: #071a52;
  font-size: 18px;
}

.blog-main ul, .blog-main ol {
  padding: 0 0 0 30px;
  margin: 30px 0;
}

.blog-main li {
  padding: 0 0 0 20px;
  margin: 0 0 15px;
  font-size: 16px;
}

.blog-main a:hover {
  cursor: pointer;
}

.blog-main blockquote {
  margin: 50px 0;
  position: relative;
  padding: 35px 15px 10px 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-style: italic;
  background: #f5f5f5;
  color: #777777;
  border-left: 4px solid #9dd4ff;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.14);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.14);
}

.blog-main blockquote::before {
  display: inline-block;
  position: absolute;
  top: 5px;
  left: 3px;
  content: "“";
  font-family: sans-serif;
  color: #9dd4ff;
  font-size: 90px;
  line-height: 1;
}

.blog-main blockquote p {
  padding: 0;
  margin: 7px 0;
  line-height: 1.7;
}

.blog-main blockquote cite {
  display: block;
  text-align: right;
  color: #888888;
  font-size: 0.9em;
}

.contact-detail {
  padding-bottom: 120px;
}

.contact-detail__text {
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: .1em;
  margin: 0 0 80px;
}

.contact-detail .contact-complete__title {
  color: #071a52;
  font-size: 30px;
  margin: 0 0 40px;
  font-weight: bold;
}

.contact-detail .contact-complete__text {
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: .05em;
}

.concept__body {
  margin: 100px 0;
}

.concept__text {
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: .05em;
  margin: 0 0 30px;
}

.concept__link {
  text-align: center;
}

.works {
  padding: 150px 0;
  margin: 150px 0 0;
  background: #f4eeff;
}

.works .l-inner {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.works__image {
  width: 60%;
  margin: 0 40px 0 0;
}

.works__contents {
  padding: 50px 0;
  width: calc(40% - 40px);
  text-align: center;
  position: relative;
}

.works__text {
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: .1em;
  margin: 0 0 50px;
}

.works .heading::before {
  left: 20%;
}

.works .heading::after {
  right: 20%;
}

.works__link {
  text-align: center;
}

.works .swiper-button-next {
  color: #fff;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  width: 50px;
  height: 50px;
  background: #071a52;
  border-radius: 25px;
  font-weight: bold;
  right: -25px;
}

.works .swiper-button-next:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.works .swiper-button-next::after {
  font-size: 24px;
  position: relative;
  left: 2px;
}

.works .swiper-button-prev {
  color: #fff;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  width: 50px;
  height: 50px;
  background: #071a52;
  border-radius: 25px;
  font-weight: bold;
  left: -25px;
}

.works .swiper-button-prev:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.works .swiper-button-prev::after {
  font-size: 24px;
  position: relative;
  right: 2px;
}

.blog__body {
  margin: 100px 0;
}

.blog__link {
  text-align: center;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.blog .swiper-slide__image {
  overflow: hidden;
}

.blog .swiper-slide__image img {
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

.blog .swiper-slide__image img:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  opacity: 0.5;
}

.blog .swiper-slide:hover span {
  text-decoration: underline;
}

.blog .swiper-slide span {
  text-align: center;
  font-size: 14px;
  display: block;
  letter-spacing: .075em;
  margin: 15px 0 0;
}

.blog .swiper-container-blog {
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
}

.contact {
  background: #f0f0f0;
  margin: 100px 0 0;
  padding: 90px 0 200px;
}

.contact__text {
  text-align: center;
  font-size: 16px;
  line-height: 2.25;
  letter-spacing: .1em;
  margin: 0 0 40px;
}

.contact__link {
  text-align: center;
}

.works-detail {
  padding: 0;
}

.works-detail__body {
  padding: 80px 0 0;
}

.works-detail .card {
  margin-bottom: 70px;
  padding: 10px 10px 20px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.works-detail .card:nth-child(2n) {
  margin-bottom: 70px;
}

.works-detail .card:hover {
  opacity: 0.7;
}

.works-detail__image {
  margin: 0 0 15px;
  width: 530px;
  height: 354px;
  border: 1px solid #dbe2ef;
}

.works-detail__text {
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: .1em;
  margin: 0 0 10px;
  padding: 0 0 0 30px;
}

.works-detail__text .fa-clone {
  padding: 0 0 0 5px;
  font-size: 10px;
}

.works-detail__category {
  color: #aaaaaa;
  font-size: 14px;
  letter-spacing: .1em;
  margin: 0 0 10px;
  padding: 0 0 0 30px;
}

.work-main .post__contents {
  line-height: 1.75;
  font-size: 14px;
  letter-spacing: .05em;
}

.work-main .post__name {
  font-size: 18px;
  margin: 0 0 50px;
  display: block;
  line-height: 1.4;
}

.work-main .post__name span {
  font-size: 12px;
  color: #aaaaaa;
}

.work-main .post__text {
  margin: 0 0 30px !important;
  padding: 0;
  line-height: 1.4;
}

.work-main .post__image {
  margin: 0 auto 50px;
  width: 90%;
  border: 1px solid #dcd6f7;
}

.work-main .post__contents {
  width: 90%;
  margin: 0 auto;
}
