.heading{
  text-align: center;
  color: $base-color;
  position: relative;
  margin: 0 0 70px;

  &__title{
    font-size: 30px;
    letter-spacing: .1em;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
  }
  &__subtitle{
    font-size: 14px;
    letter-spacing: .05em;
  }
  &::before{
    position: absolute;
    content:"";
    display: block;
    left: 35%;
    top: 0;
    border-left: 3px solid $base-color;
    border-top: 3px solid $base-color;
    width: 20px;
    height: 20px;
  }
  &::after{
    position: absolute;
    content:"";
    display: block;
    right: 35%;
    bottom: 0;
    border-right: 3px solid $base-color;
    border-bottom: 3px solid $base-color;
    width: 20px;
    height: 20px;
  }
}
