.skill{
  margin-top: 200px;
  @include tab{
    margin-top: 100px;
  }
  .heading{
    margin-bottom: 140px;
    @include tab{
      margin-bottom: 80px;
    }
  }
}

.who{
  &__body{
    padding: 0 80px;
    font-size: 16px;
    @include tab{
      padding: 0 40px;
    }
  }
  &__title{
    font-size: 22px;
    margin: 0 0 30px;
  }
  &__contents{
    margin: 0 0 70px;
    @include tab{
      margin: 0 0 50px;
    }
  }
  .profile-table{
    padding: 0 50px;
    @include tab{
      padding: 0 15px;
    }
    .table-left{
      width: 150px;
      @include tab{
        width: 120px;
      }
    }
    tr{
      margin: 0 0 10px;
      display: block;
    }
  }
}
