.blog-detail{
    padding: 0;
  .card{
    margin-bottom: 100px;
    transition: .3s;
    &:nth-child(2n){
      margin-bottom:100px;
    }
    &:nth-last-child(1){
      @include tab{
        margin: 0 0 0 6%;
      }
    }
    &:hover{
      opacity: 0.7;
      cursor:pointer;
    }
    &__image{
      margin: 0 0 20px;
      border: 1px solid #dbe2ef;
      width: 530px;
      height: 354px;
      @include tab{
        width: 100%;
        height: auto;
      }
    }
    &__heading{
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 0 15px;
    }
    &__title{
      padding: 0 0 0 30px;
      font-size: 16px;
      margin: 0 0 10px;

      .fa-clone{
        padding: 0 0 0 5px;
        font-size: 10px;
      }

    }
    .post-categories{
      color:#aaaaaa;
      font-size: 13px;
      letter-spacing: .1em;
      padding: 0 0 0 100px;
      margin: 0;
    }
    &__contents{
      font-size: 14px;
      padding: 0 20px;
      text-align: justify;
    }
  }
}
.blog-main{
  h2{
    padding: 20px 0 20px 30px;
    border-bottom: 2px solid #52616b;
    margin: 150px 0 50px;
    font-size: 26px;
    font-weight: bold;
    letter-spacing: .1em;
    border-left: solid 6px $base-color;
    background: #f4eeff;
  }
  h3{
    padding: 10px 0 10px 30px;
    margin: 50px 0 30px;
    font-size: 22px;
  }
  h4{
    padding: 10px 0 10px 30px;
    margin: 30px 0;
    font-size: 20px;
  }
  h5{
    padding: 10px 0 10px 30px;
    margin: 30px 0;
    font-size: 18px;
  }
  p{
    padding: 0 0 0 30px;
    margin: 0 0 10px;
    font-size: 16px;
  }
  strong{
    font-weight: bold;
    color:$base-color;
    font-size: 18px;
  }
  ul,ol{
    padding: 0 0 0 30px;
    margin: 30px 0;
  }
  li{
    padding: 0 0 0 20px;
    margin: 0 0 15px;
    font-size: 16px;
  }
  a:hover{
    cursor:pointer;
  }
  blockquote {
    margin: 50px 0;
    position: relative;
    padding: 35px 15px 10px 15px;
    box-sizing: border-box;
    font-style: italic;
    background: #f5f5f5;
    color: #777777;
    border-left: 4px solid #9dd4ff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.14);

    &::before{
    display: inline-block;
    position: absolute;
    top: 5px;
    left: 3px;
    content: "“";
    font-family: sans-serif;
    color: #9dd4ff;
    font-size: 90px;
    line-height: 1;
    }
    p {
    padding: 0;
    margin: 7px 0;
    line-height: 1.7;
    }
    cite {
    display: block;
    text-align: right;
    color: #888888;
    font-size: 0.9em;
    }
}

}
