.works-detail{
  &__body{
    padding: 80px 0;
    @include tab{
      padding: 80px 0 40px;
    }
  }
  .card{
    margin-bottom: 70px;
    padding: 10px 10px 20px;
    transition: .3s;
    @include tab{
      margin-bottom: 50px;
      padding: 0;
    }
    &:hover{
      opacity: 0.7;
    }
    &:nth-child(2n){
      margin-bottom:50px;
    }
  }
  &__image{
    margin: 0 0 15px;
    width: 530px;
    height: 354px;
    border: 1px solid #dbe2ef;
    @include tab{
      width: 100%;
      height: auto;
    }
  }
  &__text{
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: .1em;
    margin: 0 0 10px;
    padding: 0 0 0 30px;
    @include tab{
      padding: 0;
    }

    .fa-clone{
      padding: 0 0 0 5px;
      font-size: 10px;
    }
  }
  &__category{
    color:#aaaaaa;
    font-size: 14px;
    letter-spacing: .1em;
    margin: 0 0 10px;
    padding: 0 0 0 30px;
    @include tab{
      padding: 0;
    }
  }
}

.work-main{
  .post{
    &__contents{
      line-height: 1.75;
      font-size: 14px;
      letter-spacing: .05em;
    }
    &__name{
      font-size: 18px;
      margin: 0 0 50px;
      display: block;
      line-height: 1.4;
      span{
        font-size: 12px;
        color:#aaaaaa;
      }
    }
    &__text{
      margin: 0 0 30px!important;
      padding: 0;
      line-height: 1.4;
    }
    &__image{
      margin: 0 auto 50px;
      width: 90%;
      border: 1px solid #dcd6f7;
    }
    &__contents{
      width: 90%;
      margin: 0 auto;
    }
  }
}
